.dart_tool/
.packages
.pub/
build/
ios/Pods/
.flutter-plugins
.flutter-plugins-dependencies
.macos/
.idea/
*.iml
*.lock
*.log
*.tmp
*.swp
*.DS_Store
*.apk
*.ipa
*.jks
*.keystore
*.p12
*.pem
*.key
*.crt
*.der
*.sublime-workspace
*.sublime-project
*.vscode/
android/.gradle/
android/app/key.properties

